@tailwind base;
@tailwind components;
@tailwind utilities;

.login-form {
  margin-top: 15px;
}

.togglable {
  margin-top: 15px;
}

.error-text {
  color: red;
  font-size: 25px;
}

.notification-success {
  color: green;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto 10px auto;
  max-width: 600px;
  text-align: center;
}

.notification-failure {
  color: red;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto 10px auto;
  max-width: 600px;
  text-align: center;
}
